[[redirects]]
  force = true
  from = "/opdracht/*"
  to = "https://download.oberon.nl/:splat"
  status = 200
  [redirect.headers]
    x-from = "Netlify"
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200